html {
  background: radial-gradient(
      49% 52% at 84.5% 86%,
      rgba(60, 109, 187, 1) 0%,
      rgba(77, 90, 204, 0.18) 96%
    ),
    radial-gradient(
      65% 66% at 12.5% 13%,
      rgba(79, 134, 228, 0.61) 0%,
      rgba(77, 90, 134, 1) 96%
    );
  min-height: 100%;
  min-width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  height: 75px;
  text-align: center;
  background-color: #212529;
  padding-top: 10px;
  z-index: 1000000;
}

footer p {
  padding-top: 25px;
}

.alert {
  margin: 150px 30% 0px;
  position: fixed;
  width: 50%;
  align-self: center;
  z-index: 1;
}

.alert .close {
  border: none;
  float: right;
  padding-left: 10px;
  padding-right: 0;
}
