html {
  background: rgb(79, 131, 214);
  min-height: 100%;
  min-width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: transparent;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.alert {
  margin: 150px 30% 0px;
  border-radius: 5px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-self: center;
  z-index: 1;
}

.alert p {
  margin-left: 20px;
}

.success {
  background-color: rgba(60, 109, 187, 0.8);
}

.error {
  background-color: rgba(187, 60, 60, 0.8);
}

.close {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.close:hover {
  color: rgb(5, 38, 65);
  border-color: rgb(5, 38, 65);
}
