.slidefromleft-enter {
  transform: translateX(-400%);
}

.slidefromleft-enter-active {
  transform: translateX(0);
  transition: transform 800ms ease;
}

.slidefromleft-exit {
  transform: translateX(0);
}

.slidefromleft-exit-active {
  transform: translateX(-400%);
  transition: 800ms ease;
}

.slidefromright-enter {
  transform: translateX(400%);
}

.slidefromright-enter-active {
  transform: translateX(0);
  transition: transform 800ms ease;
}

.slidefromright-exit {
  transform: translateX(0);
}

.slidefromright-exit-active {
  transform: translateX(400%);
  transition: 800ms ease;
}

.slidefrombottom-enter {
  transform: translateY(400%);
}

.slidefrombottom-enter-active {
  transform: translateY(0);
  transition: transform 800ms ease;
}

.slidefrombottom-exit {
  transform: translateY(0);
}

.slidefromtop-exit-active {
  transform: translateY(400%) skewY(2deg);
  transition: 800ms ease;
}

.slidefromtop-enter {
  visibility: hidden;
  transform: translateY(-400%) skewY(2deg);
}

.slidefromtop-enter-active {
  visibility: visible !important;
  transform: translateY(0) skewY(2deg);
  transition: transform 800ms;
}

.slidefromtop-enter-done {
  transform: skewY(2deg) !important;
}

.slidefromtop-exit {
  visibility: visible !important;
  transform: translateY(0) skewY(2deg);
}

.slidefromtop-exit-active {
  visibility: hidden;
  transform: translateY(-400%) skewY(2deg);
  transition: 800ms ease;
}
