.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transform: skewY(2deg) translateY(-75px);
  padding-top: 100px;
  z-index: 1;
}

.bg-dark {
  background-color: rgb(5, 38, 65) !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  text-decoration: none;
  font-size: 22px;
  margin-left: 30px;
  transform: skewY(-2deg);
}

.navbar-toggler {
  border-color: white !important;
  color: white !important;
  transform: skewY(-2deg);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #aec5eb;
}
