.contact-container {
  width: 100%;
  height: 780px;
  background-color: #212529;
  transform: skewY(2deg) translateY(100px);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  height: 150px;
  width: 100%;
  background-color: #212529;
}

.contact-container h1 {
  font-weight: 400;
  transform: skewY(-2deg) translateY(-50px);
  display: inline-block;
}

.form-container {
  width: 400px;
  transform: skewY(-2deg);
}

.form-control {
  background-color: #212529;
  color: #fff;
  border: none;
  position: relative;
  width: 100%;
}

.input-text {
  background-color: transparent;
  display: block;
  border: 0;
  border-bottom: 3px #fff solid;
  width: 100%;
  padding: 25px 0;
  font-size: 18px;
  color: #fff;
}

.input-text:focus,
.input-text:valid {
  outline: 0;
  border-color: steelblue;
  background-color: transparent;
}

.form-control label {
  position: absolute;
  top: 40px;
  left: 10px;
  font-size: 18px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label,
.form-control input:valid + label {
  color: steelblue;
  transform: translateY(-35px);
}

.input-textarea {
  width: 100%;
  display: block;
  background-color: transparent;
  border: 2px #fff solid;
  color: #fff;
  border-radius: 5px;
  height: 100px;
  margin: 35px 0;
}

.input-textarea:focus,
.input-textarea:valid {
  outline: 0;
  border-color: steelblue;
  background-color: transparent;
}

.message-label {
  top: 42px !important;
  left: 20px !important;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submit {
  background-color: steelblue;
  width: 200px;
  border: none;
  border-radius: 5px;
  color: #fff;
  height: 50px;
  font-size: 20px;
}

.submit:hover {
  background-color: rgb(5, 38, 65);
}

.submit:active {
  transform: scale(0.95);
}

@media only screen and (max-width: 480px) {
  .form-container {
    width: 375px;
  }
}
