.my-name {
  font-weight: 300;
}

#main-header {
  width: 100%;
  height: 980px;
  display: flex;
  flex-direction: column;
}

#main-header h1 {
  margin-top: 200px;
  font-size: 50px;
  align-self: center;
  font-weight: 400;
}

.header-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 100px auto;
  object-fit: cover;
  box-shadow: 5px 5px 100px rgb(5, 38, 65);
}

.header-links {
  margin: 50px auto;
  display: flex;
}

.header-link {
  text-align: center;
}

.header-link a {
  color: #fff;
  font-size: 70px;
  margin: 50px;
  margin-bottom: 0 !important;
}

.header-link a:hover {
  color: rgb(5, 38, 65);
}

.header-link a:hover + p {
  color: rgb(5, 38, 65);
}

@media only screen and (max-width: 580px) {
  span {
    display: block;
    text-align: center;
  }

  #main-header h1 {
    font-size: 35px;
    text-align: center;
  }

  .header-links a {
    display: block;
    align-self: center;
  }

  .spacer {
    display: none;
  }
  .header-link a {
    font-size: 50px;
    margin: 30px;
  }
}
@media only screen and (max-width: 320px) {
  .header-link a {
    font-size: 40px;
    margin: 20px;
  }
  .header-link p {
    font-size: 11px;
  }
}
