#projects {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}

#projects h1 {
  text-align: center;
  font-weight: 400;
  margin-top: 50px;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  width: 560px;
  height: 315px;
  border-radius: 8px;
  box-shadow: 10px 10px 30px rgb(5, 38, 65);
  background-color: rgb(5, 38, 65);
  position: relative;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  overflow: hidden;
}

.carousel-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
  visibility: hidden;
  z-index: 0;
}

.carousel-img.to-right {
  transform: translateX(100%) !important;
  transition: 800ms ease;
}

.carousel-img.to-left {
  transform: translateX(-100%) !important;
  transition: 800ms ease;
}

.carousel-img.active {
  visibility: visible;
  transform: translateX(0) !important;
  transition: 800ms ease;
}

.animating {
  visibility: visible !important;
}

.carousel-buttons {
  position: absolute;
  display: flex;
  width: 560px;
  height: 315px;
  justify-content: space-between;
  z-index: 2;
}

.prev,
.next {
  height: 100%;
  width: 50px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 35px;
  z-index: 3;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  color: rgb(5, 38, 65);
}

.disabled {
  visibility: hidden !important;
}

.project,
.project-reverse {
  margin-top: 75px;
  display: flex;
}

.info {
  width: 400px;
  margin: 10px 70px;
}

.project h5,
.project-reverse h5 {
  font-size: 30px;
  font-weight: 200;
  text-align: center;
}

.links a {
  margin: 10px;
  font-size: 30px;
  color: #fff;
}

.links a:hover {
  color: rgb(5, 38, 65);
}

@media (max-width: 1450px) {
  .project-container {
    height: 207px;
    width: 368px;
  }
}

@media (max-width: 1130px) {
  .project {
    flex-direction: column;
  }
  .project-reverse {
    flex-direction: column-reverse;
  }
}

@media (max-width: 580px) {
  #projects {
    width: 100%;
    margin-bottom: 100px;
  }

  .project-container {
    height: 162px;
    width: 288px;
  }
  .carousel {
    width: 320px;
    height: 180px;
    box-shadow: none;
  }
  .project {
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }
  .project-reverse {
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }
  .info {
    width: 350px;
    margin: 0;
  }
}

@media only screen and (max-width: 320px) {
  .carousel {
    width: 272px;
    height: 153px;
  }

  .info {
    width: 280px;
  }
}
