#tech-stack {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  width: 100%;
  height: 800px;
  background: #212529;
  background-size: cover;
  transform: skewY(-2deg);
}

#tech-stack h1 {
  margin-top: 50px;
  align-self: center;
  font-weight: 400;
  transform: skewY(2deg);
}

h2 {
  text-align: center;
}

.about {
  width: 400px;
}

.about p {
  font-size: 24px;
}

.skill-list {
  display: flex;
  justify-content: space-around;
  transform: skewY(2deg);
}

.skill-list ul {
  width: 600px;
  padding: 0;
  list-style-type: none;
  font-size: 80px;
  font-weight: 300;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.skill-item {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.skill-item i {
  height: 80px;
  width: 80px;
}

.skill-item span {
  font-size: 16px;
  text-align: center;
}

.skill-item img {
  height: 80px;
  width: 80px;
  align-self: center;
}

@media only screen and (max-width: 580px) {
  .skill-list ul {
    width: 375px;
  }

  .skill-item span {
    font-size: 14px;
  }

  .skill-item img {
    height: 50px;
    width: 50px;
  }
}
@media only screen and (max-width: 320px) {
  .skill-list ul {
    width: 320px;
  }
  .skill-item img {
    height: 30px;
    width: 30px;
  }
  .skill-item span {
    font-size: 11px;
  }
}
