html {
  background: radial-gradient(
      49% 52% at 84.5% 86%,
      rgba(60, 137, 109, 1) 0%,
      rgba(77, 104, 90, 0.18) 96%
    ),
    radial-gradient(
      65% 66% at 12.5% 13%,
      rgba(79, 178, 134, 0.61) 0%,
      rgba(77, 104, 90, 1) 96%
    );
  min-height: 100%;
  min-width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.my-name {
  font-weight: 300;
  color: gold;
}

#main-header {
  width: 100%;
  height: 780px;
  display: flex;
  flex-direction: column;
}

#main-header h1 {
  margin-top: 30vh;
  font-size: 50px;
  align-self: center;
  font-weight: 400;
}

.header-buttons {
  margin: 10vh auto;
}

#main-header a,
.contact-btn {
  display: inline-block;
  text-align: center;
  width: 175px;
  line-height: 35px;
  margin: 15px;
  padding: 0;
  background: none;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-weight: 400;
  font-size: 18px;
}

#main-header a:hover,
.contact-btn:hover {
  border-color: gold;
}

#skills {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 780px;
  background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("./images/photo.jpg");
  background-size: cover;
}

#skills h1 {
  margin-top: 50px;
  align-self: center;
  font-weight: 400;
}

.skill-list {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.skill-list ul {
  list-style-type: none;
  font-size: 35px;
  font-weight: 300;
}

.skill-list li {
  margin-top: 30px;
}

#projects {
  width: 100%;
  height: 580px;
  margin-bottom: 30vh;
}

#projects h1 {
  text-align: center;
  font-weight: 400;
  margin-top: 50px;
}

.projects-container {
  display: flex;
  justify-content: space-around;
}

.project {
  background-size: contain;
  margin-top: 75px;
}

.project h5 {
  font-size: 30px;
  font-weight: 200;
  color: gold;
  text-align: center;
}

.project a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  display: block;
  line-height: 35px;
  width: 175px;
  text-align: center;
  border: 2px solid white;
  margin-top: 20px;
  border-radius: 5px;
  background: #212529;
}

.project-container {
  position: relative;
  height: 252px;
  width: 448px;
  border-radius: 10px;
  margin: auto;
}

.row {
  max-width: 100%;
}

@media only screen and (max-width: 1450px) {
  .project-container {
    height: 207px;
    width: 368px;
  }
}

@media only screen and (max-width: 450px) {
  .project-container {
    height: 162px;
    width: 288px;
  }

  .skill-list {
    justify-content: center;
  }

  span {
    display: block;
    text-align: center;
  }

  #main-header h1 {
    font-size: 35px;
    text-align: center;
  }

  .skill-list ul {
    font-size: 26px;
  }

  #main-header a,
  #main-header button {
    display: block;
    align-self: center;
  }

  .modal-open {
    padding-right: 19px !important;
  }
}

@media only screen and (max-width: 280px) {
  .project-container {
    height: 135px;
    width: 240px;
  }
}

.project-container img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 10px 10px 20px #212529;
}

.project-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.project a:hover {
  border-color: gold;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  text-decoration: none;
  font-size: 22px;
  margin-left: 30px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: gold;
}

.modal-open {
  padding-right: 0 !important;
}

.modal-header {
  background: #212529;
}

.close {
  background: none;
  border: 2px solid white;
  border-radius: 5px;
}

.close span {
  color: white;
  font-size: 20px;
}

.close:hover {
  border-color: gold;
}

.modal-body {
  background: radial-gradient(
      49% 52% at 84.5% 86%,
      rgba(60, 137, 109, 1) 0%,
      rgba(77, 104, 90, 0.18) 96%
    ),
    radial-gradient(
      65% 66% at 12.5% 13%,
      rgba(79, 178, 134, 0.61) 0%,
      rgba(77, 104, 90, 1) 96%
    );
}

.form-group button {
  width: 100px;
  height: 30px;
  padding: 0;
  background: none;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-weight: 400;
  font-size: 16px;
}

.form-group button:hover {
  border-color: gold;
}

.alert {
  margin: 100px auto 0px;
  position: fixed;
  width: 50%;
  align-self: center;
  z-index: 1;
}

.alert .close {
  border: none;
  float: right;
  padding-left: 10px;
  padding-right: 0;
}

footer {
  height: 75px;
  text-align: center;
  background-color: #212529;
}

footer p {
  padding-top: 25px;
}

nav {
  z-index: 1;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1500ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1500ms;
}
